.projectSection {
  background-color: var(--natural-color);
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.projectTitle {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 500;
  border-bottom: 1px solid var(--primary-color);
}
.projectsBlock {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
}
