.mainDescriptionDiv {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  height: max-content;
}
/* Left Div */
.leftDescriptionDiv {
  width: 80%;
  height: max-content;
  justify-items: center;
  align-items: center;
  margin: 1rem auto;
}
.leftDescriptionDiv .imageScreenshot {
  margin: auto;
}

/* Right Div */
.rightDescriptionDiv {
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 1rem auto 1rem;
}
.description {
  text-align: justify;
  justify-items: center;
  margin: 0.5rem auto 0.2rem;
  font-size: 0.9rem;
}
.url {
  text-align: left;
  font-size: 0.7rem;
  color: gray;
}
.gitHubButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto 1rem;
}
.gitHubFrontend,
.gitHubBackend {
  cursor: pointer;
  width: max-content;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--natural-color);
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  margin: 0.5rem;
}
.gitHubFrontend:hover,
.gitHubBackend:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/* Media Query for screen size above 750px */
@media (min-width: 750px) {
  .mainDescriptionDiv {
    flex-direction: row;
  }
  .leftDescriptionDiv {
    margin: 1rem auto 1rem 2rem;
    width: 40%;
  }
  .rightDescriptionDiv {
    margin: 0.5rem 1rem auto;
    width: 60%;
  }
  .gitHubButtons {
    width: 300px;
    margin-left: 0;
    justify-content: space-between;
  }
}
