.main {
  height: 90vh;
  display: flex;
  background-color: var(--natural-color);
}

/* Left Section */
.main .main__left {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 50%;
  color: var(--primary-color);
}
.main .main__left h1 {
  margin: 0;
  font-size: 3rem;
  color: var(--secondary-color);
}
.main .main__left h4 {
  margin: 0;
  color: var(--secondary-color);

}
.main .main__left h5 {
  margin: 0;
  font-size: 1.5rem;
}
.main .main__left .occupation {
  display: flex;
  align-items: center;
}
.main .main__left .occupation p:nth-child(1) {
  margin-right: 0.3rem;
}
.main .main__left .buttons {
  display: flex;
  margin-top: 40px;
}
.main .main__left .resumeButton {
  width: max-content;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--natural-color);
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  font-weight: 500;
}
.main .main__left .resumeButton:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-weight: 600;
}
.main .main__left .hireButton {
  margin-left: 1rem;
  width: max-content;
  background-color: transparent;
  padding: 10px 15px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  font-weight: 500;
  color: var(--primary-color);
}
.main .main__left .hireButton:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-weight: 600;
  color: var(--natural-color);
}

/* Right Section */
.main .main__right {
  margin-right: 10%;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: right;
}
.main .main__right img {
  height: 20rem;
}

/* Media Query for screen size below 900px */
@media (max-width: 900px) {
  /* Left Section */
  .main .main__left {
    margin-left: 3rem;
  }
  /* Right Section */
  .main .main__right {
    margin-right: 3rem;
  }
  .main .main__right img {
    height: max-content;
    width: max-content;
  }
}

/* Media Query for screen size below 750px */
@media (max-width: 750px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  /* Left Section */
  .main .main__left {
    margin: 10vh 10% 0;
    width: 100%;
    align-items: center;
  }
  .main .main__left .buttons {
    margin-top: 0;
  }
  /* Right Section */
  .main .main__right {
    margin: auto 10%;
    align-items: center;
  }
}
/* Media Query for screen size below 630px */
@media (max-width: 630px) {
  /* Right Section */
  .main .main__right {
    width: 70%;
  }
}
