.navbar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* shifali logo */
.main_logo {
  font-weight: 600;
  margin-left: 3rem;
  flex-grow: 1;
  color: var(--secondary-color);
}

/* Desktop Navbar Links */
.DesktopNavbarLinks {
  flex-grow: 3;
  margin-right: 3rem;
}
.DesktopNavbarLinks ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
}
.DesktopNavbarLinks ul li {
  margin: 0 1rem 0 1rem;
}
.DesktopNavbarLinks ul li a {
  font-weight: 400;
}
.DesktopNavbarLinks ul li a:hover,
.DesktopNavbarLinks ul li a:active {
  border-bottom: solid;
  padding: 0 0 5px 0;
}

/* Mobile Navbar Links */
.MobileNavbarLinks {
  display: none;
}

/* Media Query for screen size below 750px */
@media (max-width: 750px) {
  /* thearpitanand logo */
  .main_logo {
    margin-left: 1rem;
    font-weight: 500;
  }
  /* Desktop Navbar Links */
  .DesktopNavbarLinks {
    display: none;
  }
  /* Key Frame for Opening and Closing */
  @keyframes animationOnOpen {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* Mobile Navbar Links */
  .MobileNavbarLinks {
    display: flex;
    margin-right: 1rem;
  }
  .MobileNavbarLinks span {
    color: var(--natural-color);
    cursor: pointer;
  }
  .MobileNavbarLinks ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    top: 3rem;
    right: 0;
    width: 100%;
    background: var(--natural-color);
    z-index: 1;
    text-align: center;
    padding: 0;
    /* animation: animationOnOpen 1s; */
  }
  .MobileNavbarLinks ul li {
    margin: 1rem auto;
  }
  .MobileNavbarLinks ul li:hover,
  .MobileNavbarLinks ul li:active {
    color: var(--primary-color);
  }
  .MobileNavbarLinks ul li a {
    font-weight: 400;
  }
}
