.socialLink {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  display: flex;
}
.socialLink li a {
  margin: 0 5px 0 0;
}
.socialLink li a svg {
  height: 25px;
  width: 25px;
}

.socialLink .github {
  color: var(--secondary-color);
}
.socialLink .github:hover {
  color: #333333;
}


.socialLink .twitter {
  color: var(--secondary-color);
}
.socialLink .twitter:hover {
  color: #1da1f2;
}

.socialLink .linkedin {
  color: var(--secondary-color);
}
.socialLink .linkedin:hover {
  color: #0077b5;
}

/* Media Query for screen size below 750px */
@media (max-width: 750px) {
  .socialLink li a svg {
    height: 30px;
    width: 30px;
    margin-top: 20px;
  }
  .socialLink .instagram {
    color: #fd1d1d;
  }
  .socialLink .facebook {
    color: #4267b2;
  }
  .socialLink .github {
    color: #333333;
  }
  .socialLink .unsplash {
    color: #000000;
  }
  .socialLink .twitter {
    color: #1da1f2;
  }
  .socialLink .linkedin {
    color: #0077b5;
  }
}
