.heading {
  color: var(--secondary-color);
  font-weight: 700;
  margin: 1rem;
  margin-top: 2rem;
}
.location {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
}
.locationLogo {
  font-size: 1.9rem;
  color: var(--secondary-color);
}
.textAddress {
  color: var(--secondary-color);
  font-size: 0.9rem;
  margin-left: 1rem;
}
.textAddress p {
  margin: auto;
}
.email {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
}
.emailLogo {
  font-size: 1.7rem;
  color: var(--secondary-color);
}
.textEmail {
  color: var(--secondary-color);
  font-size: 0.9rem;
  margin-left: 1rem;
}
.mobilenumber {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
}
.mobilenumberLogo {
  font-size: 1.7rem;
  color: var(--secondary-color);
}
.textMobilenumber {
  color: var(--secondary-color);
  font-size: 0.9rem;
  margin-left: 1rem;
}
